{% extends "secretsanta/base.html" %}
{% load i18n %}
{% load humanize %}
{% block details %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{% translate "Secret Santa Applications" %}</h3>
        </div>
        <div class="panel-body">
            <table class="table table-hover" id="table-secret-santa-applications">
                <thead>
                    <tr>
                        <th class="text-left">{% translate "Application" %}</th>
                        <th class="text-left">{% translate "Manage" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for application in applications %}
                        <tr>
                            <td>{{ application.user.profile.main_character }}</td>
                            <td>put some buttons here</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% if year.open %}
        <a class="btn btn-danger" href="{% url 'secretsanta:generate_pairs' year.year %}" role="button">
            <span class="fa fas fa-skull-crossbones"></span>{% trans "Generate Pairs" %}<span class="fa fas fa-skull-crossbones"></span></a>
    {% endif %}
{% endblock details %}
{% block extra_javascript %}
    {% include "bundles/datatables-js.html" %}
    {% include "bundles/moment-js.html" %}
{% endblock extra_javascript %}
{% block extra_css %}
    {% include "bundles/datatables-css.html" %}
{% endblock extra_css %}
{% block extra_script %}
    $(document).ready( function () {
    $('#table-secret-santa-applications').DataTable({
    lengthMenu: [
    [10, 25, 50, 100, -1],
    [10, 25, 50, 100, 'All'],
    ],
    "stateSave": true,
    "stateDuration": 0
    });
    } );
{% endblock extra_script %}
